<launch>
    <param name="/use_sim_time" value="true" />

    <!-- <include file="$(find bringup)/launch/bringup.launch">
        <arg name="sim" value="true" />
        <arg name="vision" value="$(arg vision)" />
    </include> -->

    <include file="$(find sim)/launch/endpoint.launch"></include>

</launch>